<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My DataBase</title>
    <link rel="stylesheet" href="/Styles/styles.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <div class="header_logo">Логотип</div>
                <div class="header_Title">Слоган</div>
            </div>
        </header>

        <div class="work-area">
            <div class="sidebar">
                <div class="sidebar_title">Menu</div>
                <button class="Check_btn" id="Check_btn">проверка соединения</button>
                
            </div>
            <div class="content"> 
                <h1>About text!!</h1>
                
                
            </div>
        </div>
    </div>

    <noscript>
        Set on your JS
    </noscript>
    
</body>

<footer>
    <div class="container_footer">
        Подвал
    </div>
</footer>
</html>