<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My DataBase</title>
    <link rel="stylesheet" href="/Styles/styles.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container">
                
                <div class="header_Title">
                    
                    <div class="text_container">
                        <div class="link_text"><a href="about" class="custom-link" id="custom-link">Настройка OSP</a></div>
                    </div>
                    <div class="text_container">
                        <div class="link_text"><a href="aboutSQL" class="custom-link" id="custom-link" >Работа с MySQL</a></div>
                    </div>
                    <div class="text_container">
                        <div class="link_text"><a href="aboutNode" class="custom-link" id="custom-link">Настройка Node.js</a></div>
                    </div>
                </div>
                
            </div>
        </header>

        <div class="work-area">
            <div class="content"> 
                <div class="main_title">My DataBase <sub><small>Based on JS</small></sub></div> 
                <div class="main_content">
                    <div class="cols">
                        <div class="col" ontouchstart="this.classList.toggle('hover');">
                            <div class="main_container">
                                <div class="front" style="background-image: url(https://i.pinimg.com/originals/45/9d/da/459ddae547f1792b1255af48f5fb4603.jpg)">
                                    <div class="main_inner">
                                        <p>Web приложение</p>
                                        <span>На основе задачи по курсовому проектированию</span>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="main_inner">
                                        <a href="Web-app" class="custom-link">Нажав здесь, вы можете перейти к тесту основных функций приложения</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <noscript>
        Set on your JS
    </noscript>
    <footer>
        <div class="container_footer">
            <h4 id="footer_title">Designed by Michael Untevskiy 22PIZHb</h4> 
            <div class="toggle-container">
                <input type="checkbox" id="toggle" class="toggle-checkbox">
                <label for="toggle" class="toggle-label"></label>
            </div>
        </div>
    </footer>
    <script src="/JS-client/Main_handler.js"></script>
    
</body>



</html>